<!-- Education -->
<style media="max-width:500px">
  img {
    width:85%; 
    height:85%;
  }
</style>
<section class="page-section" id="education">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Education</h2>
      </div>
    </div>
    <div class="row"> <!-- my first comment -->
      <div class="col-sm-6 edCon1">
        <h5>Purdue University (West Lafayette, IN)</h2>
          <h6>School of Aeronautics & Astronautics</h6>
        <ul style="margin-left: 30px;">
          <li>
            <strong>Ph.D.</strong> in Aerospace Engineering (Structural Mechanics)<br>
            (Expected graduation August 2023) 
            Dissertation: Lateral Fusion Bonding of Additive Manufactured Fiber-Reinforced Polymer Composites>  (On going)
          </li>
          <li>
            <strong>M.S.</strong> in Aerospace Engineering (Structural Mechanics)
            Thesis: <a href="https://hammer.purdue.edu/articles/thesis/The_Effects_of_Fiber_Orientation_State_of_Extrusion_Deposition_Additive_Manufactured_Fiber-Filled_Thermoplastic_Polymers/12543464">
              The Effects of Fiber Orientation State of Extrusion Deposition Additive Manufactured Fiber-Filled Thermoplastic Polymers</a>
          </li>
          <li>
            <strong>B.S.</strong> in Aerospace Engineering (Structures and Design)
          </li>          
      </div>
      <div class="col-sm-6 text-right edCon2">
        <img class="img-fluid" src="assets/img/Pasita_grad1.jpg" alt="" width="450px" height="300px" style="border-radius: 10%;border:solid;border-color: black;">
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6 edCon3">
          <h5>Coursework History</h5>
          <h6>Graduate:</h6>
          <ul style="margin-left: 30px;">
          <li>Theory of Elasticity</li>
          <li>Finite Element Method in Aerospace Structures</li>
          <li>Mechanics of Composite Materials</li>
          <li>Manufacturing of Advanced Composite Materials</li>
          <li>Dynamics & Stability in Aerospace Structures</li>
          <li>Micromechanics</li>
          <li>Characterization of Advanced Composite Materials</li>
          <li>Mechanical Properties & Behavior of Polymers</li>
          <li>Composite & Polymer Processing</li>
          <li>Statistical Methods</li>
          <li>Heat Transfer</li>
          <li>Systems of Systems Modeling & Analysis</li>
          <li>Product & Process Design</li>
          <li>Advanced Math I</li>
          <li>Advanced Math II</li>
          </ul>
          <h6>Undergraduate:</h6>
          <ul style="margin-left: 30px;">
            <li>Aerodynamics</li>
            <li>Aerospace Propulsion</li>
            <li>Dynamics & Vibrations</li>
            <li>Fluid Mechanics</li>
            <li>Signal Analysis For Aerospace Engineering </li>
            <li>Aeromechanics I, II</li>
            <li>Thermodynamics</li>
            <li>Graphical Communication And Spatial Analysis</li>
            <li>Programming Applications For Engineers</li>
            <li>Aerospace Structural Analysis</li>
            <li>Private Pilot Lectures</li>
          </ul>
        </div>
        <div class="col-sm-6 text-right edCon4">
          <img class="img-fluid" src="assets/img/Pasita_grad4.jpg" alt="" width="450" height="300" style="border-radius: 10%;border:solid;border-color: black;">
        </div>
    </div>
  </div>
</section>
<!-- Education Modals -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<div
  class="portfolio-modal modal fade"
  id="co"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h3 class="text-uppercase">Graduate Courses:</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg text-left">
            <h5>Theory of Elasticity</h5>
            <ul style="margin-left: 30px;">
              <li>Applying fundamental principles and solution techniques used in the stress analysis of elastic solids and structures</li>
            </ul>
            <h5>Finite Element Method in Aerospace Structures</h5>
            <ul style="margin-left: 30px;">
              <li>Understand the theory behind finite element calculations of stress, strain, and deformation in structures and materials</li>
            </ul>
            <h5>Mechanics of Composite Materials</h5>
            <ul style="margin-left: 30px;">
              <li>Transform material properties between various coordinate systems. Compute effective properties of composites. Predict displacement, stress, strain, strength and failure of lamina and laminates under mechanical and thermal loads</li>
            </ul>
            <h5>Manufacturing of Advanced Composite Materials</h5>
            <ul style="margin-left: 30px;">
              <li>Examine the phenomena involved in the net-shaped manufacturing of fiber reinforced polymer composite structures such as: Darcy flow, permeability and compaction of fiber beds, thermoset reaction kinetics, polymer viscosity, heat transfer, void formation, polymer physical properties, and anisotropic composite properties</li>
            </ul>
            <h5>Dynamics & Stability in Aerospace Structures</h5>
            <ul style="margin-left: 30px;">
              <li>Conceptual understanding of problems in the dynamics and stability of continuous lightweight structural systems and of the relevant analytical tools regarding general structural principles, Ritz method for discrete approximations, modal analysis, nonlinear vibrations, and stability of motion</li>
            </ul>
            <h5>Micromechanics</h5>
            <ul style="margin-left: 30px;">
              <li>Analyze problems in micromechanics and interpret technical literature relevant to micromechanics. Comprehensive understanding of the methods for the analysis and prediction of properties of micro-structured materials</li>
            </ul>
            <h5>Characterization of Advanced Composite Materials</h5>
            <ul style="margin-left: 30px;">
              <li>Familiar with composite microstructural characterization, lamina longitudinal, shear, off-axis, flexural, thermoelastic and compression tests, laminate tensile, thermoelastic, notch strength, mode I and II interlaminar fracture, stacking sequence and compression tests</li>
            </ul>
            <h5>Multiscale Structural Mechanics</h5>
            <ul style="margin-left: 30px;">
              <li>Capable of identifying distinct features of composites and challenges associated with modeling and simulation of composites. Perform critical evaluation of major theories in the literature regarding their strengths and weaknesses</li>
                <li>Capable of examining and explaining simulation results for composite structures. Able to apply mechanics of structure genome to derive new models for composite structures</li>
                <li>Capable of designing and analyzing composite structures using SwiftComp and ABAQUS/Standard</li>
            </ul>
            <h5>Design Theory and Methods for Aerospace Systems</h5>
            <ul style="margin-left: 30px;">
              <li>Generated system-level requirements for aerospace systems. Applied design methods and tools to create conceptual designs of aerospace systems, assessed design against requirements, and performed trade-off studies</li>
            </ul>
            <h5>Statistical Methods</h5>
            <ul style="margin-left: 30px;">
              <li>Familiar with statistical methods and tools such as hypothesis testing, two sample inference, analysis of variance (ANOVA), multi-factor analysis of Variance, and simple linear regression</li>
            </ul>
            <h5>Applied Regression Analysis</h5>
            <ul style="margin-left: 30px;">
              <li>TBF</li>
            </ul>
            <h5>Systems of Systems Modeling & Analysis</h5>
            <ul style="margin-left: 30px;">
              <li>TBF</li>
            </ul>
            <h5>Space Flight Operations</h5>
            <ul style="margin-left: 30px;">
              <li>TBF</li>
            </ul>
            <h5>Product & Process Design</h5>
            <ul style="margin-left: 30px;">
              <li>TBF</li>
            </ul>
            <h5>Advanced Math I</h5>
            <ul style="margin-left: 30px;">
              <li>TBF</li>
            </ul>
            <h5>Advanced Math II</h5>
            <ul style="margin-left: 30px;">
              <li>TBF</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h3 class="text-uppercase">Undergraduate Courses:</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg text-left">
            <h5>Thin Film and Nanomaterials Characterization</h5>
            <ul style="margin-left: 30px;">
              <li>Received an overview of various techniques used for investigating nanoscale sized thin films and examining materials and composition. The techniques include optical microscopy, scanning electron microscopy, scanning probe microscopy, electron beam instruments coupled with specific detectors for monitoring particle emission</li>
            </ul>
            <h5>Magnetic Nanostructures</h5>
            <ul style="margin-left: 30px;">
              <li>Fundamental understanding of condensed matter behavior of metallic, dielectric, and molecular nature. Fundamental understanding includes electron transport in metals (Drude model), electric field frequency dependence of metallic conductivity and polarization, atomic polarizability (Clausius-Mossotti relation), quantum theory of atomic paramagnetism, molecular field theory, and various quantum mechanical concepts: particle in a well, perturbation theory, band formation, and tight-binding model. Interpreting magnetic characterization methods such as the neutron diffraction for crystalline materials</li>
            </ul>
            <h5>Fluid Mechanics and Transport Processes</h5>
            <ul style="margin-left: 30px;">
              <li>Fundamental understanding of heat, mass, and momentum transport material systems. Application of the fundamental balance equation to solve for state variables under steady-state and non-steady-state conditions</li>
            </ul>
            <h5>Mechanics of Nanomaterials</h5>
            <ul style="margin-left: 30px;">
              <li>Understanding of atomic and molecular elastic property origins in nanoscale sized materials. Understanding of the theory of elasticity in isotropic and anisotropic solids. Obtained an introduction to the nonlinear and inelastic deformation of materials at the nanoscale</li>
            </ul>
            <h5>Electronic, Optical and Magnetic Properties of Nanomaterials</h5>
            <ul style="margin-left: 30px;">
              <li>Understanding of underlying atomic, molecular and electronic configuration in the fundamental electronic, optical and magnetic properties of material systems. Understanding how properties vary between different types of materials and how to tailor properties for specific applications</li>
            </ul>
            <h5>Thermodynamics and Kinetics of Nanomaterials</h5>
            <ul style="margin-left: 30px;">
              <li>Understanding of basic thermodynamics structure such as state functions, process variables, intensive or extensive properties and the laws of thermodynamics. Able to develop, manipulate, and utilize relationships between thermodynamic variables and apply these relations to gases, liquids and solids. Understanding of how thermodynamics processes determine the equilibrium structures of materials at the macroscale, microscale and nanoscale</li>
            </ul>
            <h5>Introduction to Solar Cell Nanotechnology</h5>
            <ul style="margin-left: 30px;">
              <li>TBF</li>
            </ul>
            <h5>Industrial Nanomanufacturing</h5>
            <ul style="margin-left: 30px;">
              <li>TBF</li>
            </ul>
            <h5>Nanophotonics</h5>
            <ul style="margin-left: 30px;">
              <li>TBF</li>
            </ul>
            <h5>Advanced Materials Processing for NEMS/MEMS</h5>
            <ul style="margin-left: 30px;">
              <li>TBF</li>
            </ul>
            <h5>Introduction to Nanoengineering Design and Manufacturing</h5>
            <ul style="margin-left: 30px;">
              <li>TBF</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <button
            class="btn btn-primary"
            data-dismiss="modal"
            type="button"
          >
            <i class="fas fa-times"></i>
            Close
            </button>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div
  class="portfolio-modal modal fade"
  id="co"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.image }}"
                alt="{{ project.alt }}"
              />
              <p>{{ project.content }}</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext.hobbies2.closebutton |
                default: "Close Hobby" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- End Education -->